@import url('https://fonts.googleapis.com/css?family=Staatliches');

.index {
  background: #fff700;
  color: #393939;
  font-family: 'Staatliches';
}

.header {
  display: table;
  width: 100%;
  background: #393939;
  color: #fff700;
  text-align: center;
  height: 3em;
}

.error {
  color: #ff0000;
  font-size: 0.75em;
}

.column1 {
  float: left;
  width: 50%;
  transition: width 2s;
}

.form-wrapper {
  width: 25em;
  margin:auto;
  text-align: center;
}

.column2 {
  float: right;
  width: 50%;
}

.applications-wrapper {
  width: 100%;
  margin:auto;
  text-align: center;
}

.application-wrapper {
  width: 20em;
  height: 6em;
  margin: auto;
  margin-top: 1em;
}

.application {
  position: absolute;
  color: #393939;
  border-color: #393939;
  border-width: 5px;
  background: #fff700;
  text-align: left;
  margin-left: 1em;
  margin-top: 0.5em;
}

.delete {
  margin: auto;
  width: 50%;
}

.checkbox {
  width: auto;
  float: right;
  margin-right: 0.5em;
}

form {
  margin-top: 1em;
  transition: all 4s ease-in-out;
}

.input {
  width: 25em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #393939;
  font-size: 1em;
  margin-bottom: 1em;
}

input {
  height: 2em;
  color: #393939;
}

input[type=submit] {
  color: #fff700;
  background: #393939;
  border-color: transparent;
  font-size: 1em;
  font-family: 'Staatliches';
}

.red {
  background: #ff9696;
}

.green {
  background: #99ff96;
}

.blue {
  background: #96fff6;
}

.error {
  font-family: sans-serif;
}