@import url('https://fonts.googleapis.com/css?family=Staatliches');

.index {
  background: rgb(248, 254, 255);
  color: #393939;
  font-family: 'Staatliches';
}

.header {
  display: table;
  width: 100%;
  background: #CAEBF2;
  color: #ffffff;
  text-align: center;
  height: 3em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.error {
  color: #ff0000;
  font-size: 0.75em;
  font-family: sans-serif;
  text-align: left;
  margin-left: 10%;
  height: 16px;
}

.column1 {
  float: left;
  width: 50%;
  transition: width 2s;
}

.form-wrapper {
  position: relative;
  width: 70%;
  height: 400px;
  margin:auto;
  padding: 16px;
  padding-bottom: 36px;
  min-height: 100%;
  margin-top: 16px;
  text-align: center;
  background: #CAEBF2;
}

.applicationForm {
  margin-top: 10%;
}

.column2 {
  float: right;
  width: 50%;
}

.applications-wrapper {
  width: 100%;
  margin:auto;
  margin-bottom: 32px;
  text-align: center;
}

.application-wrapper {
  width: 100%;
  height: 6em;
  background: #CAEBF2;
  color: #ffffff;
  margin: auto;
  margin-top: 1em;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

.application {
  position: absolute;
  border-color: #393939;
  border-width: 5px;
  text-align: left;
  margin-left: 1em;
  margin-top: 0.5em;
}

.delete-wrapper {
  margin: auto;
  width: 100%;
}

.delete {
  width: 100%;
  background: #4abdac;
  color: #ffffff;
  cursor: pointer;
}

.checkbox {
  float: right;
  margin-right: 0.5em;
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #ffffff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  height: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  margin-top: 10px;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked {
	background-color: #ffffff;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
  color: #393939;
  text-align: center;
}

form {
  margin-top: 1em;
  transition: all 4s ease-in-out;
}

.input {
  width: 25em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #393939;
  font-size: 1em;
  margin-bottom: 1em;
}

input[type=submit] {
  color: #ffffff;
  background: #393939;
  border-color: transparent;
  font-size: 1em;
  font-family: 'Staatliches';
  cursor: pointer;
}

.red {
  background: #ff9696;
}

.green {
  background: #99ff96;
}

.blue {
  background: #96fff6;
}