.container {
    width: auto;
    height: 100px;
    margin: auto;
    background: #000000;
}

.titles {
    float: left;
    background: #c2c2c2;
    text-align: left;
    color: #ffffff;
}

.appData {
    float: left;
    background: #d0d0d0;
    text-align: left;
    margin-left: 5px;
    color: #ffffff;
}