<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<html>

<body class=<%= color%>>

<div class="container">
    <form action="/color/update" method="post">
        <select onchange="this.form.submit()" name="color">
            <option></option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
    </form>
</div>

</body>
</html>