<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<html>

<body class="index">

<div class="container">
    <form action="/form" method="post">
        <select onchange="this.form.submit()">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
    </form>
</div>

</body>
</html>