<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
</head>

<body>
<!--
<% include ../partials/nav.ejs %>
-->

<div class="container">
<h2>Database Results</h2>
<p><%= client.name %></p>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

<% const { Client } = require('pg'); %>

<% const client = new Client({ %>
  <%   connectionString: process.env.DATABASE_URL, %>
  <%   ssl: true, %>
<% }); %>

<% client.connect(); %>

<% client.query('SELECT table_schema,table_name FROM information_schema.tables;', (err, res) => { %>
  <% if (err) throw err; %>
  <% for (let row of res.rows) { %>
    <% console.log(JSON.stringify(row)); %>
    <% } %>
    <% client.end(); %>
  <% }); %>


</div>

</body>
</html>