<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<html>

<body class="index">

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>