<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<html>

<body class="index">

<div class="center">

    <h2>Job Applications</h2>

    <form action="/index" method="post">
        <label for="company">Company Name: </label>
        <input id="company" type="text" name="company_field" placeholder="EvilCorp LLC.">
        <br>
        <label for="position">Position title: </label>
        <input id="position" type="text" name="position_field" placeholder="Software Developer">
        <br>
        <label for="experience">Experience level: </label>
        <input id="experience" type="text" name="experience_field" placeholder="Entry Level">
        <br>
        <label for="source">Job Source: </label>
        <input id="source" type="text" name="experience_field" placeholder="LinkedIn">
        <br>
        <input align="center" type="submit" value="Submit Application">
    </form>

    <ul>
        <!--
        <% /*results.forEach(function(r) { %>
            <li><%= r.id %> - <%= r.name %></li>
        <% }); */%>
        -->
    </ul>

</div>

</body>
</html>