<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="/stylesheets/sample.css" />

<div class="container">
    <div class="titles">
        <span>
        Company:<br>
        Position:<br>
        Experience:<br>
        Source:
        </span>
    </div>
    <div class="appData">
        <span>
        Google<br>
        CEO<br>
        Newb<br>
        LinkedIn<br>
        </span>
    </div>
</div>